@use 'base/reset';
@use 'base/variables';
@use 'base/typography';

@use 'components/form';
@use 'components/btn';
@use 'components/description';
@use 'components/heading';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1118px;
  margin: 1.75rem auto 0;

  @media (min-width: 1024px) {
    display: flex;
    margin-top: 5%;
  } 
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  font: inherit;
  color: inherit;
  outline: none;
}

.section {
  margin-top: 3rem;

  &__heading {
    margin-bottom: 2.4rem;
  }
}
